<h1>Editing Your Question </h1>


<%= form_tag(question_url(@question), method: 'put') do %>

  <div>
    <%= label_tag :summary %><br />
    <%= text_field_tag :summary, @question.summary %>
  </div>


  <div>
    <%= submit_tag "Update question" %>
  </div>

<% end %>
