Welcome to Feed Forward
<br>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Your Company</a>
      <div class="navbar-content">
        <ul class="nav ">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="hero-unit hidden-phone">
    <h1>Welcome to Your App!</h1>
    <p>We do amazing things that will make you want to give us money. Lots of
      money.</p>
    <p></p>
    <a class="btn btn-info" href="#"><span class="btn-label">Find Out More</span></a>

    <a class="btn btn-info" href="#"><span class="btn-label">Find Out More</span></a>
  </div>
  <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
  <div class="row main-features">
    <div class="span2"></div>
    <div class="span8">
      <div class="well">
        <h3>Awesome Feature #2</h3>
        <p>Enter a brief description of why it's so awesome here. Then move on to
          the next feature.</p>
        <a class="btn btn-info" href="#"><span class="btn-label">Find Out More</span></a>
      </div>
    </div>
  </div>
</div>
