.notice { background: #e4ff21;}

body {
  font-family: 'Helvetica Nueue', Helvetica, Arial;
  font-size: 16px;
  width: 960px;
  margin: 20px auto;
}

input { font-size: 16px;}


header {
  border-bottom: 3px solid black;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border-bottom: 1px solid #c6c9cc;
}

tr:last-child td {
  border: 0;
}
